<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />  
    <title>OTI</title>
</head>
<body>
    <div>
        <h1 class="h1-head">OBJECT TO IMAGE (OTI)</h1>
        <p class="p-head">Convert multiple paragraphs into a single image</p>
        <div class="container">
            <div class="text input-form">
                <div>
                    <form action="/" method="post">
                        <label for="inputStr">Input string to convert to image</label><br>
                        <textarea id="inputStr" name="textInput" rows="3" cols="31" minlength="1"></textarea><br>
                        <input type="submit" value="Submit">
                    </form>

                    <img src="data:image/png;base64,{{ image_string }}" alt="User Image" id="output-image"><br>
                    <a id="download-image" href="data:image/png;base64,{{ image_string }}" download>Download</a> 
                    <img id="ItemPreview" src=""   >                
                </div>
            </div>
            <div class="image input-form">
                <form action="/upload" method="post"  enctype="multipart/form-data">
                    <label for="inputImage">Upload the image to be decoded</label><br>
                    <input type="file" id="inputImageId" name="inputImageName" accept="image/png"><br>
                    <input type="submit" value="Submit" id="imageSubmit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>